*{
	margin: 0;
	padding: 0;
	font-family: "OpenSans";
}

header{
	background-color: #f6f2f2;
}

header nav{
	height: 90px;
	background-color: #313030;
	text-align: center;
}
header nav a{
	display: inline-block;
	color: white;
	line-height: 80px;
	padding: 10px 25px 0 25px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
header nav a.active{
	background-color: #ff3f40;
}


.present{
	text-align: justify;
	padding-bottom: 60px;
}

.present .head{
	width: 500px;
	display: inline-block;
	padding-top: 100px;
	vertical-align: top;
}
.present .head h1{
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: left;
}
.present .head .description{
	color: #494848;
	font-size: 18px;
	line-height: 30px;
	padding-top: 25px;
	padding-bottom: 60px;
}

.present .video{
	display: inline-block;
	vertical-align: top;
	padding-top: 100px;
}

.present .video .video-content{
	width: 550px;
	height: 360px;
	box-shadow: 0 0 10px 0px black;
}






/* common */

.container{
	width: 1280px;
	padding: 30px 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

.button{
	line-height: 55px;
	padding: 0 65px;
	border: 2px solid #ff3f40;
	display: inline-block;
	color: #ff3f40;
	text-decoration: none;
	border-radius: 6px;
	font-weight: bold;
}

.button:hover{
	background-color: #ff3f40;
	color: white;
}

.last-line{
	display: inline-block;
	width: 100%;
}

